<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>See <%= product.name %> Details</title>
</head>
<body>
    <h1>See <%= product.name %> Details</h1>
    <nav>
        <a href="/products">See All Books</a>
        <a href="/products/new">Create A New Book</a>
    </nav>
    <h3>Author: <%= product.description %></h3>
    <% if(product.img) { %>
        <p>You have finished this book</p>
    <% } else { %>
        <p>You have not finished this book</p>
    <% } %>
    <p><%= product.price %></p>
</body>
</html>
